.main_div{
    height:12rem;
    width:20rem;
    background-color: rgb(66, 64, 64);
    border-radius:25px;
    padding: 10px 20px;
    position: relative;
}

.main_div h1{
    color:bisque;
    font-size: 30px;
}

.main_div section > div{
    position: absolute;
    font-size: 100px;
    top:-20px;
    right:4px;
    color:rgb(255, 255, 255,0.2);
    font-weight: 800;
}