/* User_review */
.container{
    height:100%;
    width:100%;
    background-color: rgb(19, 18, 18);
}

.container .main{
    max-width:80rem;
    margin:auto;
    color:white
}

.container .review{
    padding-top: 4rem;
    display: flex;
    gap: 1rem;
}

.main .review .review1 p:first-child{
    font-size: 25px;
    margin-left: 1rem;
}

.main .review .review1 span >  img{
    height:2rem;
    width: 8rem;
}

.review .review1 p:nth-child(3){
    font-size: small;
}

.review .review1 p:nth-child(3) > a{
    text-decoration: underline;
}

.review .review1 div:last-child img{
    height:2rem;
    width: 8rem;
}

/* Review 2 */

.review .review2{
    /* position:relative; */
    display: flex;
    gap:8rem;
    /* overflow: hidden; */
}

.review2 .review2_main{
    display: flex;
    flex-wrap: nowrap;
    /* gap: -5rem; */
    /* overflow-x: scroll; */
}


/* Review */

.top{
    max-width:30%;
    padding-top: 1rem;
    display: grid;
    margin:auto;
}

.top .main_div{
    /* max-height: 10rem; */
    /* max-width: 10rem; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.main_div .upper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.top img{
    height:2rem;
    width: 8rem;
}

.top .info > p:first-child{
    display: flex;
}


