
.text{
    display: flex;
    flex-direction: column;
    gap:0px;
    text-align: center;
    /* margin-left: -10rem; */
 }
 
 .text p:first-child{
    font-size: 45px;
    color:white; 
    margin-bottom: 3px;
 }
 
 .text p:last-child{
    color:grey;
    margin-top: -1px;
    font-size: 20px;
 }