.main_div{
    display: flex;
    padding-inline: 14rem;
    gap:10px;
    background-color: rgb(19, 18, 18);
}

.main_div section{
    width:50%
}

.main_div .section_part{
    display:flex;

}

.section_1{
    text-align: left;
    display: flex; 
    flex-direction: column;
    gap: 12px;
}

.section_1 h1 {
    font-size: 50px;
    color: white;
    margin-bottom: -12px;
}

.section_1 h2 {
    font-size: 60px;
    color:  rgb(255, 102, 0);
    margin-top: 0px;
}

.section_1 p {
    color: white;
    font-size: large;
    margin-top: -40px;
    max-width: 85%;
}

.section_1 .earn_main{
    background-color: rgb(255, 102, 0);
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    width: 10px;
    height: 10px;  
    padding: 10px;
    margin-top: 12px;
}

.section_2{
    position: relative;
    z-index: 0;
}

.section_2 .main_form .backcolor1{
    position:absolute;
    height:200px;
    width:200px;
    border-radius: 36% 64% 27% 73% / 45% 28% 72% 55% ;
    background: rgb(255, 102, 0);
    left:60px;
    filter:blur(80px);
}

.section_2 .main_form .backcolor2{
    position: absolute;
    height:200px;
    width:200px;
    border-radius: 76% 24% 66% 34% / 42% 64% 36% 58%   ;
    background: rgb(255, 102, 0);
    bottom:-120px;
    right:3px;
    filter:blur(80px);
}

.main_form .form_div{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.form_div .signup_heading{
    font-size: 35px;
    font-weight: 80px;
    color:white;
    position:absolute;
    top:0;
}

.form_div .main_form{
    padding-top:55px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height:25rem;
    width: 27rem;
    background-color: rgba(49, 48, 48, 0.2);
    border-radius: 20px;
}

.main_form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.main_form .forminput_div{
    position:relative;
    z-index: 1;
}

.main_form .forminput_div input{
    height:40px;
    width: 100%;
    border-radius: 8px;
    border-color: white;
    background-color: rgba(49, 48, 48, 0.2);
    color: white;
    border-width: thin;
    padding-left: 30px;
    font-size: 18px;
    outline: none;
}

.main_div .forminput_divPassword input{
    padding-right: 35px;
}

.forminput_div input:focus {
    border: 2px solid darkorange;
}

.forminput_div input:placeholder-shown ~ .inner_input{
    top:8px;
    left:30px;
}

.main_form .forminput_div .inner_input{
    position:absolute;
    top:-25px;
    left:30px;
    z-index: -1;
}
 
.forminput_div input:focus ~ .inner_input{
    top: -25px;
    color: rgb(255, 102, 0);
    left:12px;
    transition: ease-in 0.2s;
}

.forminput_div input:focus ~ .icon{
    color: rgb(255, 102, 0);
}

.forminput_div .icon{
    height:25px;
    width: 20px;
    position:absolute;
    top:7px;
    left: 5px;
    color: white;
}

.forminput_div .password_icon{
    top:10px;
    left:20rem;
    cursor: pointer;
}

/* .forminput_div span{
    position:absolute;
    top:8px;
    left:30px;
    color: white;
} */

.forminput_div .error_div{
    color: red;
    position: absolute;
    font-size: small;
    margin-top: 2px;
    right:0px;
    display: flex;
    align-items: center;
    gap:4px;
}

.terms p{
    font-size: 12px;
    margin-top: -2px;
}

.terms p span{
    color: rgb(255, 102, 0);
    font-size: 15px;
    cursor: pointer;
}

.sign{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.sign .button1{
    height:15px;
    width:90px;
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    /* margin-top: ; */
    cursor:pointer;
}

.sign .button2{
    height:38px;
    width:200px;
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
    gap:4px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.sign  .middle{
     display: flex;
     flex-direction: column;
     gap:2px;
}

.middle .middle_OR{
    padding-left: 10px;
    color:rgb(100, 97, 97);
}