.body_div{
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 80rem;
    margin: auto;
}

/* First Div Section */
.main_div{
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 18, 18);
}


.main_div .section_part{
    display:flex;

}

.section_1{
    text-align: left;
    display: flex; 
    flex-direction: column;
    gap: 12px;
}

.section_1 h1 {
    font-size: 50px;
    color: white;
    margin-bottom: -12px;
}

.section_1 h2 {
    font-size: 60px;
    color:  rgb(255, 102, 0);
    margin-top: 0px;
}

.section_1 p {
    color: white;
    font-size: large;
    margin-top: -40px;
    max-width: 85%;
}

.section_1 .earn_main{
    background-color: rgb(255, 102, 0);
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    font-weight: 700;
    width: 10px;
    height: 10px;  
    padding: 10px;
    margin-top: 12px;
}

.section_2{
    position: relative;
    z-index: 0;
}

.section_2 .main_form .backcolor1{
    position:absolute;
    height:200px;
    width:200px;
    border-radius: 36% 64% 27% 73% / 45% 28% 72% 55% ;
    background: rgb(255, 102, 0);
    left:60px;
    filter:blur(80px);
}

.section_2 .main_form .backcolor2{
    position: absolute;
    height:200px;
    width:200px;
    border-radius: 76% 24% 66% 34% / 42% 64% 36% 58%   ;
    background: rgb(255, 102, 0);
    bottom:-120px;
    right:3px;
    filter:blur(80px);
}

.main_form .form_div{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
}

.form_div .signup_heading{
    font-size: 35px;
    font-weight: 80px;
    color:white;
    position:absolute;
    top:0;
}

.form_div .main_form{
    padding-top:55px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    height:25rem;
    width: 27rem;
    background-color: rgba(49, 48, 48, 0.2);
    border-radius: 20px;
}

.main_form form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.main_form .forminput_div{
    position:relative;
    z-index: 1;
}

.main_form .forminput_div input{
    height:40px;
    width: 100%;
    border-radius: 8px;
    border-color: white;
    background-color: rgba(49, 48, 48, 0.2);
    color: white;
    border-width: thin;
    padding-left: 30px;
    font-size: 18px;
    outline: none;
}

.main_div .forminput_divPassword input{
    padding-right: 35px;
}

.forminput_div input:focus {
    border: 2px solid darkorange;
}

.forminput_div input:placeholder-shown ~ .inner_input{
    top:8px;
    left:30px;
    color: white;
}

.main_form .forminput_div .inner_input{
    position:absolute;
    top:-25px;
    left:12px;
    z-index: -1;
    color:rgb(255, 102, 0);
    
}
 
.forminput_div input:focus ~ .inner_input{
    top: -25px;
    color: rgb(255, 102, 0);
    left:12px;
    transition: ease-in 0.2s;
}

.forminput_div input:focus ~ .icon{
    color: rgb(255, 102, 0);
}

.forminput_div .icon{
    height:25px;
    width: 20px;
    position:absolute;
    top:7px;
    left: 5px;
    color: white;
}

.forminput_div .password_icon{
    top:10px;
    left:20rem;
    cursor: pointer;
}

.forminput_div .error_div{
    color: red;
    position: absolute;
    font-size: small;
    margin-top: 2px;
    right:0px;
    display: flex;
    align-items: center;
    gap:4px;
}

.terms p{
    font-size: 12px;
    margin-top: -2px;
}

.terms p span{
    color: rgb(255, 102, 0);
    font-size: 15px;
    cursor: pointer;
}

.sign{
    display: flex;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
}

.sign .button1{
    height:15px;
    width:90px;
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    cursor:pointer;
}

.sign .button2{
    height:38px;
    width:200px;
    background-color: white;
    padding: 10px;
    color: black;
    display: flex;
    gap:4px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.sign  .middle{
     display: flex;
     flex-direction: column;
     gap:2px;
}

.middle .middle_OR{
    padding-left: 10px;
    color:rgb(100, 97, 97);
}

/* Second Div Section */
.second_div{
    height:150px;
    width:100%;
    display:flex;
    background-color: #1c1c1c;
    /* margin-right: 20px; */
    margin-top: 5rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden; 
}

.second_div .text_div{
    width:40%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,102,0,1) 0%, rgba(46,27,3,1) 76%);
    color:white;
    padding:7px 20px;
    z-index:10;
    display: flex;
    flex-direction: column;
}

.second_div .text_div > p{
    opacity: 0.8;
    margin-top: -10px;
}

.second_div .text_div::before{
    background-color:#1c1c1c;
    content:"";
    height:250px;
    position:absolute;
    left:500px;
    top:-10px;
    transform:rotate(-65deg);
    width:200px;
    z-index:0;
}

.second_div .logo_div{
    padding: 10px 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 70px;
    z-index: 10;
}

.logo_div .logo1{
    margin-top: 30px;
    height: 70px;
    width: 180px;
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    flex-shrink: 0;
    border-radius:14px;
}

.logo_div .logo1 img{
    margin-top: 10px;
    padding-top: 0px;
    margin-left: 30px;
    height:50px;
    width:110px;
    text-align: center;    
}

.logo_div .logo2{
    margin-top: 30px;
    height: 70px;
    width: 180px;
    background-color: white;
    border-radius:14px;
    flex-grow: 1;
    display: flex;
    flex-shrink: 0;
}

.logo_div .logo2 img{
    height:60px;
    width:120px;
    margin-top: 10px;
    padding-top: 0px;
    margin-left: 30px;
    text-align: center;
}

.logo_div .logo3{
    margin-top: 30px;
    height: 70px;
    width: 180px;
    background-color: #08224f;
    border-radius:14px;
    flex-grow: 1;
    display: flex;
    flex-shrink: 0;
}

.logo_div .logo3 img{
    height:60px;
    width:120px;
    margin-top: 5px;
    padding-top: 0px;
    margin-left: 30px;
    text-align: center;
}

/* Third Div Section */

 /* Heading Section */

.third_div .distance{
    margin-top: 3rem;
}

.third_div .box_div{
    display: flex;
    justify-content: start;
    align-items: center;
}

 .third_div .box_last{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box_last .box_gap{
    height:4rem;
    width:2px;
    background-color: grey;
    text-align: center;
}